<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>

    <!-- Bootstrap -->
    
    
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    
    


</head>
<body class="vw-100 vh-100">
    
    
    <!-- Header Partial -->
    <%- include('header') %>

    <div id="mainContainer" class="w-100 p-2 d-flex justify-content-around"> 
        <!-- for the variable part of the website -->
        <%- body %>
    </div>




    <!-- Bootstrap JS Script -->
    <script type="module" src="../scss/js/main.js"></script>

</body>
</html>