<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    
</head>
<body class="bg-cyan-100">
    
    <!-- NAVBAR     -->
    <nav class="bg-white shadow dark:bg-gray-800">
      <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
          <a href="#" class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Today</a>
  
          <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Weekly Progress</a>
  
          <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Streaks</a>
      </div>
  </nav>
  

    
    <!-- HABITS -->
     <div class="content-center">
  <div class="flex flex-col items-center place-content-center ">
  <h2 class="mb-4 font-bold text-slate-900">Habits</h2>
  <h3 class="pb-6">Habits left to complete: <%= left %> </h3>
    <ul class="w-48 text-center divide-y divide-solid text-sm font-medium text-gray-900 bg-white  border-gray-200 rounded-xl dark:bg-gray-700 dark:border-gray-600 dark:text-white shadow-lg shadow-gray-900/80">
        <% habits.forEach( el => { %>
            <li class='todoItem w-full border-gray-200 dark:border-gray-600' data-id='<%=el._id%>'>
                <div class="flex items-center ps-3">
                    <input id="vue-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="vue-checkbox" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"><%= el.habit %></label>
                    <i class=" del fas fa-regular fa-trash pr-2 cursor-pointer"></i>
                </div>
            </li>
            <% }) %>    
                
                
        </ul>
        </div>
        </div>

       


        


        
    

    <div class="pt-6">

        <form class="flex justify-center flex-wrap" action="/api/habits/addHabit" method='POST'>
            <input type="text"  class="m-2 w-40 sm:w-auto bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 focus:outline-none focus:ring-1 focus:ring-sky-800 focus:border-sky-800  lg:block" placeholder="Enter Habit" name="newHabit" />
            <input type="submit" value="Add Habit" class="w-40 m-2 w-full sm:w-40 shadow-lg shadow-blue-400/50 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        </form>
    </div>

    <script src="/js/main.js"></script>
    
</body>
</html>

<!-- class="shadow-lg shadow-gray-700/40 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" -->